body{
text-align: center;
padding-left: 400px;
background-color:skyblue
}
h1{
    color: violet;
    
}
.card-body{
       background-color:skyblue;
       padding-top:100px;
       
}
.container{
    padding-top:200px;

}
